@model List<ZooModel>
@foreach(var taskModel in @Model){
<ul class="list-group">  
    <li class="list-group-item">@taskModel.Name - @taskModel.Description - @taskModel.Gender - @taskModel.Age</li>
 </ul>
}