@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">You done goofed up</h2>

<h3>You either tried to enter or update some data in the incorrect format</h3>
<h3>Or tried to update data that doesn't exist</h3>
<p>
    Either way, try again.
</p>

