@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    <strong>TagError place holder.</strong>
</p>
<p>
    In case I somehow manage to screw-up something in Tag services.
</p>
