@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    <strong>You can't delete a Shop which still contains items.</strong>
</p>
<p>
    Remove items assigned to this shop before attempting to remove the shop itself.
</p>
